* {
    /* font-family: 'Tahoma'; */
    /* font-family: 'Trebuchet MS'; */
    font-family: "Atkinson Hyperlegible";
}

#toolbar {
    border-radius: 3px;
    border-color: black;
    border: solid;
    margin: 0.25rem;
    text-align: center;
    padding-bottom: 5px;
}

.navbar {
    text-align: center;
}

.s-nav {
    width: 50%;
}

.s-nav-button {
    font-size: 30px;
    width: 50px;
    margin-top: 20px;
}

.q-nav-button {
    font-size: 20px;
    width: 200px
}

.viewer {
    width: 49%;
    text-align: center;
    border-radius: 3px;
    border-color: black;
    border: solid;
    margin: 0.25rem;
}

.pdf-viewer {
    width: 100%;
    border-top: solid;
    border-color: grey;
    border-top-width: 3px;
}
