:root {
    /* colour definitions */
    --button-active:            #2c2cb7;
    --button-text:              #ffffff;
    --default-text:             #000000;
    --button-toggle-off:        #555555; 
    --button-toggle-off-text:   #d3d3d3; 
    --button-border:            #25259c;
    --button-hover:             #20208a;
    --button-grey:              #d3d3d3;
    --button-grey-hover:        #c3c3c3;
    
    --panel-grey:               #d3d3d3;

    --viewer-border:            #303030;

    --separator-grey:           #808080;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./atkinson_hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("./atkinson_hyperlegible/AtkinsonHyperlegible-Bold.ttf");
    font-weight: bold;
}

* {
    font-family: "Atkinson Hyperlegible";
}

button {
    background-color: var(--button-active); /* Green background */
    border: 1px solid var(--button-border); /* Green border */
    color: var(--button-text); /* White text */
    cursor: pointer; /* Pointer/hand icon */
}

button:hover {
    background-color: var(--button-hover);
}

.notbold{
    font-weight:normal
}​

#year-selection, #paper-selection {
    float: left;
    width: 30%; /* Each div takes 50% width */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Add padding if needed */
}

#year-paper-container:after {
    content: "";
    display: table;
    clear: both; /* Clear the floats */
}

#subject-custom-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#custom-container {
    padding-left: 70px;
}

#year-paper-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#paper-selection {
    padding-left: 50px;
    padding-top: 20px;
}

#toolbar {
    margin: 0.25rem;
    text-align: center;
    padding-bottom: 5px;
}

#viewer-holder {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.btn-group button {
    background-color: var(--button-active); /* Green background */
    border: 1px solid var(--button-border); /* Green border */
    color: var(--button-text); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 250px; /* Set a width if needed */
    height: 44px;
    display: block; /* Make the buttons appear below each other */
    text-align: left;
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
  
.btn-group button:hover {
    background-color: var(--button-hover);
}

.navbar {
    text-align: center;
}

.s-nav {
    width: 50%;
}

.nav-button {
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    border-left: 3px solid var(--separator-grey); 
    height: 30px; 
    margin-left: 5px; 
    margin-right: 5px;
}

#q-nav-button {
    float: right; 
    margin-right: 5px; 
    margin-left: auto; 
    font-size: 15px; 
    width: 140px;
    border-radius: 10px;
}

.toolbar-button {
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

#q-navigation {
    /* width: 240px;  */
    height: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: var(--panel-grey);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.outline-btn-group button{
    background-color: var(--button-grey);
    border-width: 0px;
    color: var(--default-text);
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 250px; /* Set a width if needed */
    height: 44px;
    display: block; /* Make the buttons appear below each other */
    text-align: left;
}

.outline-btn-group button:hover{
    background-color: var(--button-grey-hover);
}

#question-selection-holder {
    /* position: fixed;
    top: 75px;
    right: 15px; */
    display: inline-block;
    min-width: 250px;
    height: 750px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: var(--panel-grey);
    margin-left: 10px;
    border: 3px solid var(--viewer-border);
    margin-top: 4px;
}

#toolbar-button-holder {
    /* width: 370px;  */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    border-radius: 12px;
    background-color: var(--panel-grey);
}

.s-nav-holder {
    margin: 0 auto; 
    width: 150px; 
    height: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.pagecount {
    width: 100px;
    margin: 0 auto;
}

.viewer {
    width: 70%;
    text-align: center;
    border: 3px solid var(--viewer-border);
    margin: 0.25rem;
}

.pdf-viewer {
    width: 100%;
    border-top: solid;
    border-color: var(--separator-grey);
    border-top-width: 3px;
}